#iuipad-content-panel{
    background:url("../images/whitey.png");
}
.ticket-entry .entry-time, .ticket-entry .entry-happened{
    color: #BBB;
    font-style: italic;
}
.ticket-entry .entry-name{
    color: #0094CF;
}
.ticket-entry .entry-body{
    text-overflow: ellipsis;
}
body.fullscreen .done-fullscreen{
    display:block;
}
.done-fullscreen{
    display:none;
}
.ticket-entry{
    width:94%;
    margin:0 auto;
    clear:both;
    background:url('../images/whitey2.png');
    padding:10px;
    border-radius:5px;
    -webkit-box-shadow: #999 1px 1px 6px;
    margin:20px;
    height: 64px;
    line-height: 20px;
}
body{
    color: #333;
    font-family: 'helvetica neue';
}
#iuipad-content-panel{
    width: 705px;
}
#iuipad-content-panel > .toolbar{
    width: 705px;
}
body.fullscreen .ticket-entry{
    margin: 0px;
    padding: 5px;
}
body.fullscreen #iuipad-content-panel{
    width: auto;
}
body.fullscreen #iuipad-content-panel > .toolbar{
    width: auto;
}
body.fullscreen #iuipad-content-panel{
    left:0px ;
}
body.fullscreen #iui-container{
    display:none;
}
body, #iui-container > div{
    background:url("../images/whitey.png");
}
#iui-container, #iui-container .toolbar {
    background: url("../iui/t/default/toolbar.png") #6d84a2 repeat-x !important;
}
body.fullscreen {
    color:#ccc;
}
body.fullscreen .ticket-entry{
    background:none;
    border:none;
    -webkit-box-shadow:none;
}
body.fullscreen .ticket-entry .entry-name{
    color: #9CD9F6;
}
body.fullscreen body, body.fullscreen #iui-container > div, body.fullscreen #iuipad-content-panel{
    background:url("../images/blacky.png");
}
